@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

:root {
	font-family: 'Roboto', 'Franklin Gothic Medium', Tahoma, sans-serif !important;
	-webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale !important;

	::selection {
		background-color: #03a9f4 !important;
		color: #fff !important;
	}
}

body {
	margin: 0;
}

a {
	text-decoration: none;
	font-weight: bold;
}

.server-nav-selected {
	background-color: #2f3136 !important;
	color: #03a9f4 !important;
}

.channel-nav-selected {
	background-color: #222222 !important;
	color: #03a9f4 !important;
}

.messages-container {
	background-color: #37393e;
	width: 100%;
	height: 100%;
	overflow-y: scroll;
}

.message {
	padding: 0.5rem 1rem;
	margin: 0.5rem 0;
	.user-name {
		font-weight: bold;
		cursor: pointer;
		&:hover {
			text-decoration: underline;
		}
	}
	&:hover {
		background-color: #32353a !important;
	}
}

.MuiAvatar-root {
	transition: border-radius 0.2s ease-in-out;
	&:hover:not(.MuiAvatar-rounded) {
		border-radius: 35%;
	}
}
