@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

:root {
	font-family: 'Roboto', 'Franklin Gothic Medium', Tahoma, sans-serif !important;
	-webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale !important;

	::selection {
		background-color: #1a237e !important;
		color: #fff !important;
	}
}

body {
	margin: 0;
}

a {
	text-decoration: none;
	font-weight: bold;
}

.server-nav-selected {
	background-color: #2f3136 !important;
	color: #03a9f4 !important;
}

.channel-nav-selected {
	background-color: #222222 !important;
	color: #03a9f4 !important;
}
